<!--左边的导航菜单，包括商标和导航菜单-->
<aside class = "main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class = "sidebar">

        <!--导航菜单的用户面板，可选-->
        <div class = "user-panel">
            <div class = "pull-left image">
                <img src = "__PUBLIC__/img/user2-160x160.jpg" class = "img-circle" alt = "用户头像">
            </div>
            <div class = "pull-left info">
                <p>{:session('userInfo')[0]["u_userName"]}</p>
                <!-- 状态 -->
                <a href = "#"><i class = "fa fa-circle text-success"></i> 在线</a>
            </div>
        </div>

        <!--搜索栏表单，可选-->
        <form action = "#" method = "get" class = "sidebar-form">
            <div class = "input-group">
                <input type = "text" name = "q" class = "form-control" placeholder = "输入关键字...">
              <span class = "input-group-btn">
                <button type = "submit" name = "search" id = "search-btn" class = "btn btn-flat"><i
                        class = "fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->

        <!-- 左边导航菜单 -->
        <ul class = "sidebar-menu">
            <!--<li class="header">菜单</li>-->
            <!--任选的，可以增加自己的图标到链接上-->
            <li><a href = "#"><i class = "fa fa-link"></i> <span>流程管理</span></a></li>
            <li><a href = "#"><i class = "fa fa-link"></i> <span>定时任务</span></a></li>
            <!--多级菜单-->
            <li class = "treeview active">
                <a href = "#"><i class = "fa fa-link"></i> <span>组织机构</span>
            <span class = "pull-right-container">
              <i class = "fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class = "treeview-menu menu-open">
                    <li class = "active"><a href = "#"><i class = "fa fa-sitemap"></i> 机构管理</a></li>
                    <li><a href = "#"><i class = "fa fa-user"></i> 机构人员管理</a></li>
                    <li><a href = "#"><i class = "fa fa-users"></i> 岗位管理</a></li>
                </ul>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>