<!-- 右边的隐藏导航 -->
<aside class = "control-sidebar control-sidebar-dark">
    <!-- 标签页 -->
    <ul class = "nav nav-tabs nav-justified control-sidebar-tabs">
        <li class = "active"><a href = "#control-sidebar-home-tab" data-toggle = "tab"><i class = "fa fa-home"></i></a>
        </li>
    </ul>
    <!-- 标签页的内容 -->
    <div class = "tab-content">
        <!-- Home的标签页 -->
        <div class = "tab-pane active" id = "control-sidebar-home-tab">
            <h3 class = "control-sidebar-heading">最近的动态</h3>
            <ul class = "control-sidebar-menu">
                <li>
                    <a href = "javascript:void(0);">
                        <i class = "menu-icon fa fa-birthday-cake bg-red"></i>

                        <div class = "menu-info">
                            <h4 class = "control-sidebar-subheading">Min Lee的生日</h4>

                            <p>10月27日</p>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- /.control-sidebar-menu -->

            <h3 class = "control-sidebar-heading">任务进度：</h3>
            <ul class = "control-sidebar-menu">
                <li>
                    <a href = "javascript:void(0);">
                        <h4 class = "control-sidebar-subheading">
                            后台模板设计
                <span class = "pull-right-container">
                  <span class = "label label-danger pull-right">10%</span>
                </span>
                        </h4>

                        <div class = "progress progress-xxs">
                            <div class = "progress-bar progress-bar-danger" style = "width: 10%"></div>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- /.control-sidebar-menu -->

        </div>
        <!-- /.tab-pane -->
    </div>
</aside>
<!-- /.control-sidebar -->