<include file="Public:head" />
<title>ERP Admin </title>
<include file="Public:body" />
<div class = "wrapper">

    <include file="Public:header"/>
    <include file="Public:main-sidebar"/>

    <!--内容主面板，包括页里面的内容-->
    <div class = "content-wrapper">
        <!--内容头部-->
        <section class = "content-header">
            <h1>
                组织机构
                <small>机构管理</small>
            </h1>
            <ol class = "breadcrumb">
                <li><a href = "#"><i class = "fa fa-home"></i> 首页</a></li>
                <li class = "active">机构管理</li>
            </ol>
        </section>

        <!--主内容容器-->
        <section class = "content">

            <!--你的页面内容-->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->



    <include file="Public:right-sidebar"/>

    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class = "control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<include file="Public:scripts" />

<script src="__PUBLIC__/js/setting.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
<!--另外，你可以添加 Slimscroll 和 FastClick 插件；这两个插件都是推荐开发者去增强用户体验的，Slimscroll需要固定菜单栏的布局-->
</body>
</html>
